*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

body{
	height: 100vh;
	width: 100%;
	background-color: #000000;
}

.logo {
	width: 85px;
	height: auto;
}

.logo img {
	width: 100%;
}

.container{
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
	margin: 15px auto;
}

.left{
	background: url("../imgs/contactob.jpg");
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}
	

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #a6c1db;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #8dc1f7;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #a6cbf5;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
		
	}
	.left{
		height: 200px;
	}
}


.informacion {
	height: auto;
	width: 100%;
}


.colabora {
	width: 60%;
	text-align: center;
	margin: 20px auto;
}

.colabora h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 100;
	color: #8dc1f7;
}

.colabora p {
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
}

@media screen and (max-width: 1024px)  {
		
	.colabora {
			text-align: center;
			width: 90%;
			margin: 10px 0 10px 5%;
		}
		
	.info img {
			margin: 10px auto;
		}
}

.saber {
	width: 100%;
	color: white;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	margin-top: 120px;
	padding: 30px 0 0 0;
}
.saber p {
	width: 100%;
	color: white;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 20px;
}

.parte6{
	width: 100%;
	padding-bottom: 20px; /*solucion a linea de foother*/
}

.barra{
	width: 25%;
	height: 60px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}

.barra h1{
	float: left;
	font-family: 'Oswald', sans-serif;
	color: #ffffff;
	margin: 0 10px;
	margin-left: 12%;
	font-size: 20px;
	font-weight: 100;
}


.redes li{
	float: left;
	list-style: none;
	display: inline;
	margin: 0 5px;
	font-size: 25px;
}

@media (min-width: 200px) and (max-width: 1024px)  {
.barra{
	width: 35%;
	height: auto;
	border-radius: 0;
	margin: 0 auto;
	display: flex;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}
.barra h1{
	float: left;
	margin: 0 10px;
	margin-left: 12%;
}
.barra p{
	float: left;
	margin: 0 15px;
}
.redes li{
	float: left;
	list-style: none;
	display: inline;
	font-size: 25px;
}
}
.cont{
	width: 100%;
	height: auto;
	background-color: #000000;
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0;
}

.cedla1, .cedla2, .cedla3{
	width: 400px;
	height: auto;
	margin: 5px 15px;
}

.abajo {
  width: 80px;
  margin: 0 160px;
}

.cedla1 i {
  font-size: 25px;
}

.cedla1 li {
  list-style: none;
  display: inline;
}

.cedla2 p {
  text-align: center;
  color: #8dc1f7;
  font-size: 10px;
  width: 50%;
  margin: 0 auto;

}
.cedla3 p {
  color: #ffffff;
  font-size: 15px;
  margin: 10px 0;
}

.cedla3 {
  text-align: right;
  color: #8c9fc0;

}
